<div class="card mt-4" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title"><%= @post.user.username.titleize%></h5>
    <p class="card-text"><%= @post.content %></p>
  </div>
</div>

<div class="card mt-4" style="width: 100%;">
  <div class="col-sm mt-4">
    <%= link_to 'New Comment', new_post_comment_path(@post), class: "btn btn-primary", remote: true %>
  </div>
  <div class="row">
    <div class="col-sm">
      <%= render partial: 'comments/comments' %>
    </div>
  </div>
</div>
